.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.header__inner {
  height: 62px;
  position: relative;
}

.header__title {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0;
}

.header__logo {
  position: absolute;
  top: 25px;
  left: 10px;
}

.header__logo img {
  width: 90px;
}

.header__contact {
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 11px;
  background-color: #da6b64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__contact img {
  display: block;
  margin: auto;
  width: 20px;
}

.header__contact a {
  display: block;
  margin: auto;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.top {
  padding-top: 62px;
  width: 100%;
}

.top__inner {
  background-image: url(../../images/top-image.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 15px;
  text-align: center;
  width: 100%;
  display: table;
  height: 312px;
}

.top__container {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.top__text p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.top__image {
  max-width: 317px;
  width: 90%;
  margin: 20px;
}

.top h1 {
  line-height: 1.1;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.conversion {
  text-align: center;
  background-color: #ebb94d;
  color: #fff;
}

.conversion__inner {
  padding: 15px 0;
}

.conversion__text {
  font-size: 15px;
  font-weight: 600;
}

.conversion__text span {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px 4px;
}

.conversion__link {
  background-color: #da6b64;
  border-radius: 50px;
  max-width: 1028px;
  padding: 15px 20px;
  margin: 20px 20px;
  margin-top: 25px;
}

.conversion__link a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
}

.conversion__link a span {
  display: block;
}

.conversion__schedule {
  margin: 10px;
}

.conversion__schedule p {
  margin: 25px 0;
  font-size: 15px;
  font-weight: 600;
}

.conversion__schedule p span {
  display: block;
}

.conversion__contact {
  width: 100%;
}

.conversion__contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.conversion__contact ul li {
  display: block;
  width: 74px;
  height: 20px;
  background-color: blue;
  margin-right: 10px;
}

.conversion__contact ul li a {
  color: white;
}

.introduction {
  padding: 30px 0;
  background-image: url(../../images/introduction.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.introduction__headding {
  margin: 0 auto;
  padding: 5px 20px;
  position: relative;
  width: 95%;
  margin-bottom: 20px;
}

.introduction__headding span {
  display: block;
}

.introduction__title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.introduction__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

.introduction__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  border-right: 4px solid #ebb94d;
  border-bottom: 4px solid #ebb94d;
}

.introduction__content {
  text-align: center;
  margin-bottom: 50px;
}

.introduction__content p {
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 300;
  margin-bottom: 30px;
}

.introduction__content p span {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

@media (min-width: 768px) {
  .header__inner {
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  .header__title {
    position: relative;
    bottom: -10px;
    font-size: 12px;
  }
  .header__title p {
    margin-bottom: 0;
  }
  .header__logo {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .header__logo img {
    width: 128px;
  }
  .header__contact {
    display: none;
  }
  .top {
    padding-top: 75px;
  }
  .top__inner {
    height: 500px;
    background-image: url(../../images/main.jpg);
  }
  .top__text p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__image {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .conversion__inner {
    padding: 30px 0;
  }
  .conversion__text {
    font-size: 16px;
    font-weight: 300;
  }
  .conversion__link {
    max-width: 1028px;
    padding: 25px 50px;
    margin: 10px 80px;
  }
  .conversion__link a {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .conversion__link a span {
    display: inline;
  }
  .conversion__schedule p {
    margin: 25px 0;
    font-size: 18px;
    font-weight: 300;
  }
  .conversion__schedule p span {
    display: inline;
  }
  .introduction__headding {
    padding: 15px 0;
    position: relative;
    width: 860px;
    margin-bottom: 20px;
  }
  .introduction__headding span {
    display: inline;
  }
  .introduction__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .introduction__title::before {
    content: "";
    width: 50px;
    height: 50px;
  }
  .introduction__title::after {
    content: "";
    width: 50px;
    height: 50px;
  }
  .introduction__content {
    padding: 40px 0;
  }
  .introduction__content p .para {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */