.para {
  display: inline;
}
.headding {
  position: relative;
  width: 860px;
  padding: 15px 0;
  margin-bottom: 20px;

  & .title {
    font-size: 24px;
    margin-bottom: 10px;
    
    &::before {
      content:"";
      width:50px;
      height: 50px;
    }
    &::after {
      width: 50px;
      height: 50px;
    }
  }
}

.header {
  &__inner {
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  &__title {
    position: relative;
    bottom: -10px;
    font-size: 12px;

    & p {
      margin-bottom: 0;
    }
  }
  &__logo {
    position: relative;
    top: 0px;
    left: 0px;
    & img {
      width: 128px;
    }
  }
  &__contact {
    display: none;
  }
}

.top {
  padding-top: 75px;
  &__inner {
    height: 500px;
    background-image: url(../../images/main.jpg);
  }
  &__text {
    & p {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  &__image {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.conversion {
  &__inner {
    padding: 30px 0;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;;
  }
  &__link {
    max-width: 1028px;
    padding: 25px 50px;
    margin :10px 80px;
    & a {
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
  &__schedule {
    & p {
      margin: 25px 0;
      font-size: 18px;
      font-weight: 300;
      & span {
        display: inline;
      }
    }
  }
}

.introduction {
  &__content {
    padding: 40px 0;
    & p {
      font-size:16px;
      & .para {
        display: none;
      }
    }
  }
}

.about {
  position: relative;
  background-color: #fef5e0;
  & .aboution {
    top: -40px;
    height: 80px;
    & p {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 14px;
    }
  }
  &__inner {
    padding-top: 80px;
    & h3 {
      font-size: 16px;
      margin: 40px 0 10px 0;
    }
  }
  &__skills {
    margin: 30px 20px;; 
    padding: 30px;
    max-width: calc(100%-40px);
    & h3 {
      font-size: 16px;
      font-weight: 600;
      margin-top: 0;
    }
  }
  &__skill {
    padding: 10px;
    display: inline-block;
    & img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    & p {
      margin: 10px 0;
      font-size: 12px;
      letter-spacing: 1.5px;;
      & .para {
        display: block;
      }
    }
  }
}

.aboutsecond {
  background-image: url(../../images/about.jpg);
  & h2 {
    font-size: 24px;
    margin: 20px 0;
    line-height: 1.1;
    font-weight: 600;
  }
  & p {
    font-size: 18px;
  }
  &__container {
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 30%;
    & .box {
      padding: 30px;
      border-radius: 5px;
      margin-bottom: 20px;
      & p {
        background-color: #ebb94d;
        font-size: 1４px;
        font-weight: 600;
      }
      & .text {
        & p {
          margin-bottom: 10px;
          &:first-of-type {
            margin: 30px 0 15px;
          }
        }
      }
    }
  }
}

.learning {
  font-size: 16px;
  line-height: 1.6;
  padding: 40px 0;
}

.aboutthird {
  padding: 20px 0;
  & h2 {
    font-size: 24px;
    & .fs {
      font-size: 14px;
    }
  }
  & p {
    font-size: 16px;
    font-weight: 300;
  }
  &__box {
    padding: 0 30px;
    margin: 40px;
  }
  &__item {
    padding: 20px;
    & img {
      width: 180px;
    }
  }
  & .fs {
    font-size: 14px;
    font-weight: 600;
  }
}

.merit {
  &__box {
    padding: 0 50px;
    display: flex;
    margin-bottom: 40px;
  }
  &__item {
    margin-bottom: 20px;
    width: 33%;
    margin: 5px;
  }
  &__bgimage {
    height: 180px;
  }
  &__suport {
    & .p {
      display: block;
    }
    margin: 15px 80px;;
    margin-bottom: 40px;
    padding: 40px 20px;;
    font-weight: 600;
    & h3 {
      font-size: 24px;
      &.fs {
        font-size: 16px;
      }
    }
    & p {
      font-size: 14px;
    }
  }
  &__bottom {
    font-size: 12px;
    padding: 0 50px;
  }
}

.teacher {
  background-image: url(../../images/teacherbg.jpg);
  background-size: cover;
  padding: 50px 122px;
  & h2 {
    font-size: 24px;
  }
  & p {
    font-size: 14px;
  }
  &__boxes {
    display: flex;
    flex-wrap: wrap;
  }
  &__box {
    position: relative;
    margin-top: 128px;
    width: 50%;
  }
  &__item {
    padding: 40px;
  }
}