
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  &__inner {
    height: 62px;
    position: relative;
  }
  &__title {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
  }
  &__logo {
    position: absolute;
    top: 25px;
    left: 10px;
    & img {
      width: 90px;
    }
  }
  &__contact {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 11px;
    background-color: #da6b64;
    box-sizing: border-box;
    & img {
      display: block;
      margin: auto;
      width: 20px;
    }
    & a {
      display: block;
      margin: auto;
      font-size: 12px;
      color: #fff;
      text-decoration: none;
    }
  }
}

.top {
  display: table;
  padding-top: 62px;
  &__inner {
    background-image: url(../../images/top-image.jpg);
    background-size: cover;
    height: 312px;
    padding: 0 15px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  &__text {
    & p {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__image {
    max-width: 480px;
    width: 90%;
    margin: 20px;
  }

  & h1 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
}

.conversion {
  text-align: center;
  background-color: #ebb94d;
  color: #fff;
  &__inner {
    padding: 15px 0;
  }
  &__text {
    font-size: 15px;
    font-weight: 600;
    & span {
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
      padding: 2px 4px;
    }
  }
  &__link {
    background-color: #da6b64;
    border-radius: 50px;
    max-width: 1028px;
    padding: 15px 20px;
    margin: 20px 20px;
    margin-top: 25px;
    & a {
      color: #fff;
      font-size: 20px;
      letter-spacing: 0;
      font-weight: 600;
    }
  }
  &__schedule {
    margin: 10px;
    & p {
      margin: 25px 0;
      font-size: 15px;
      font-weight: 600;
    }
  }
  &__contact {
    & ul {
      display: flex;
      & li {
        display: block;
        width: 74px;
        height: 20px;
        background-color: blue;
        margin-right: 10px;
        & a {
          color: white;
        }
      }
    }
  }
}

.introduction {
  padding: 30px 0;
  background-image: url(../../images/introduction.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &__headding {
    margin: 0 8px;
    padding: 5px 20px;
    position: relative;
    width: 95%;
    margin-bottom: 20px;
  }
  &__title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 8px;
    
    &::before {
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width:30px;
      height: 30px;
      border-top: 4px solid #ebb94d;;
      border-left: 4px solid #ebb94d;;
    }
    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width:30px;
      height: 30px;
      border-right: 4px solid #ebb94d;;
      border-bottom: 4px solid #ebb94d;;
    }
  }
  &__content {
    text-align: center;
    margin-bottom: 50px;
    & p {
      font-size: 15px;
      letter-spacing: 0;
      font-weight: 300;
      margin-bottom: 30px;
      & span {
        font-weight: bold;
        background: linear-gradient(transparent 70%, #ebb94d 70%);
      }
    }
  }
}